<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-footer></app-footer>

<div class="fixed top-2/4 right-2 z-50">
  <!-- Social Icons -->
  <div
    class="max-h-[500px] opacity-100 mt-4 flex flex-col items-center gap-3 transition-all duration-500 ease-in-out bg-navy rounded-2xl"
  >
    <!-- WhatsApp -->
    <a
      href="https://wa.me/9035514808"
      target="_blank"
      rel="noopener noreferrer"
      class="bg-tertiary text-green-400 p-1 text-3xl  rounded-lg flex items-center justify-center hover:scale-110 transition"
    >
      <i class="bx bxl-whatsapp m-1"></i>
    </a>

  </div>
</div>
