/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400; /* Replace <weight> with a valid number (e.g., 400 for normal) */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.animated-box {
  opacity: 0;
  transform: translateY(20px); /* Adjust as per your design */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.flip-in-box {
  opacity: 0;
  transform: rotateY(90deg); /* Start from rotated state */
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animate-active {
  opacity: 1;
  transform: rotateY(0); /* Reset rotation to make the element visible */
}
