<!-- Main Navbar Wrapper -->
<div class="w-full fixed top-0 left-0 z-50 bg-transparent">
  <div
    #navbar
    class=" bg-transparent duration-700 ease-in-out relative "
    [@navbarAnimation]="isScrolled ? 'scrolled' : 'expanded'"
    [ngClass]="{
      'mt-12 rounded-xl shadow-sm bg-transparent': !isScrolled && !isMobile,
      'mt-0 rounded-none shadow-lg bg-transparent': isScrolled || isMobile
    }"
  >
    <nav
      class="flex justify-between bg-navy items-center px-6 py-2 transition-all duration-700 ease-in-out"
      [ngClass]="{
        'mt-4 rounded-xl': !isScrolled,
        'mt-0 rounded-none': isScrolled
      }">
      <!-- Logo -->
      <a class="font-bold leading-none p-2" routerLink="/">
        <img
          src="careercafe_logo-transparent.png"
          class="w-16 rounded"
          alt="logo"
        />
      </a>

      <!-- Mobile Menu Toggle -->
      <div class="lg:hidden">
        <button
          (click)="toggleMobileMenu()"
          class="navbar-burger flex items-center text-white p-3"
        >
          <svg
            class="block h-4 w-4 fill-current"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>

      <!-- Desktop Menu -->
      <ul
        class="hidden lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6 merriweather-light"
      >
        <li>
          <a
            class="nav-link montserrat-normal"
            routerLink="/"
            routerLinkActive="active-link animated-underline"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="text-yellow-200">|</li>
        <li>
          <a
            class="nav-link montserrat-normal"
            routerLink="/about"
            routerLinkActive="active-link animated-underline"
            >About Us</a
          >
        </li>
        <li class="text-yellow-200">|</li>
        <li>
          <a
            class="nav-link montserrat-normal"
            routerLink="/contact"
            routerLinkActive="active-link animated-underline"
            >Contact</a
          >
        </li>
      </ul>

      <!-- Franchise CTA -->
      <a
        routerLink="/franchise"
        routerLinkActive="active-link animated-underline"
        class="hidden lg:flex text-white font-semibold text-base px-4 py-2 mr-3 rounded-lg shadow-md hover:border-2  montserrat-normal"
      >
        Become a Franchise
      </a>
    </nav>
  </div>
</div>

<!-- Mobile Menu -->
<div *ngIf="isMobileMenuOpen" class="navbar-menu relative z-50 lg:hidden">
  <div
    class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"
    (click)="toggleMobileMenu()"
  ></div>
  <nav
    class="fixed top-0 left-0 bottom-0 w-full py-6 px-6 bg-white border-r overflow-y-auto"
  >
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" routerLink="/">
        <img src="careercafe_logo-transparent.png" class="h-12" alt="logo" />
      </a>
      <button class="navbar-close" (click)="toggleMobileMenu()">
        <svg
          class="h-6 w-6 text-gray-400 hover:text-gray-500"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          />
        </svg>
      </button>
    </div>
    <ul>
      <li>
        <a
          class="mobile-link montserrat-normal"
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="toggleMobileMenu()"
          routerLinkActive="active-link-mobile"
          >Home</a
        >
      </li>
      <li>
        <a
          class="mobile-link montserrat-normal"
          routerLink="/about"
          (click)="toggleMobileMenu()"
          routerLinkActive="active-link-mobile"
          >About Us</a
        >
      </li>
      <li>
        <a
          class="mobile-link montserrat-normal"
          routerLink="/contact"
          (click)="toggleMobileMenu()"
          routerLinkActive="active-link-mobile"
          >Contact</a
        >
      </li>
      <li>
        <a
          class="mobile-link montserrat-normal"
          routerLink="/franchise"
          (click)="toggleMobileMenu()"
          routerLinkActive="active-link-mobile"
          >Be a Franchise</a
        >
      </li>
    </ul>
  </nav>
</div>

<!-- Main Navbar Wrapper -->
<!-- <div class="w-full">
  <div
    class="z-50 transition-all duration-500 ease-in-out"
    [ngClass]="{
      'absolute left-1/2 top-10 w-5/6 -translate-x-1/2 rounded-xl shadow-sm': !isScrolled && !isMobile,
      'fixed top-0 left-0 w-full rounded-none shadow-lg': isScrolled || isMobile
    }"
  >
    <nav
      class="flex justify-between bg-navy items-center px-6 py-2 transition-all duration-500 ease-in-out"
      [ngClass]="{
        'max-w-[1200px] mx-auto rounded-xl': !isScrolled && !isMobile,
        'max-w-full w-full rounded-none': isScrolled || isMobile
      }"
    >
      <a class="font-bold leading-none p-2" routerLink="/">
        <img
          src="careercafe_logo-transparent.png"
          class="w-16 rounded"
          alt="logo"
        />
      </a>

      <div class="lg:hidden">
        <button
          (click)="toggleMobileMenu()"
          class="navbar-burger flex items-center text-white p-3"
        >
          <svg
            class="block h-4 w-4 fill-current"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Mobile menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
          </svg>
        </button>
      </div>

      <ul class="hidden lg:flex lg:mx-auto lg:items-center lg:w-auto lg:space-x-6">
        <li><a class="nav-link" routerLink="/" routerLinkActive="active-link animated-underline" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
        <li class="text-yellow-200">|</li>
        <li><a class="nav-link" routerLink="/about" routerLinkActive="active-link animated-underline">About Us</a></li>
        <li class="text-yellow-200">|</li>
        <li><a class="nav-link" routerLink="/contact" routerLinkActive="active-link animated-underline">Contact</a></li>
      </ul>

      <a
        routerLink="/franchise"
        routerLinkActive="active-link animated-underline"
        class="hidden lg:flex text-white font-semibold text-base px-4 py-2 mr-3 rounded-lg shadow-md hover:border-2"
      >
        Become a Franchise
      </a>
    </nav>
  </div>
</div>

<div *ngIf="isMobileMenuOpen" class="navbar-menu relative z-50 lg:hidden">
  <div
    class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"
    (click)="toggleMobileMenu()"
  ></div>
  <nav class="fixed top-0 left-0 bottom-0 w-full py-6 px-6 bg-white border-r overflow-y-auto">
    <div class="flex items-center mb-8">
      <a class="mr-auto text-3xl font-bold leading-none" routerLink="/">
        <img src="careercafe_logo-transparent.png" class="h-12" alt="logo">
      </a>
      <button class="navbar-close" (click)="toggleMobileMenu()">
        <svg class="h-6 w-6 text-gray-400 hover:text-gray-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <ul>
      <li><a class="mobile-link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" (click)="toggleMobileMenu()" routerLinkActive="active-link-mobile">Home</a></li>
      <li><a class="mobile-link" routerLink="/about" (click)="toggleMobileMenu()" routerLinkActive="active-link-mobile">About Us</a></li>
      <li><a class="mobile-link" routerLink="/contact" (click)="toggleMobileMenu()" routerLinkActive="active-link-mobile">Contact</a></li>
      <li><a class="mobile-link" routerLink="/franchise" (click)="toggleMobileMenu()" routerLinkActive="active-link-mobile">Be a Franchise</a></li>
    </ul>
  </nav>
</div> -->
