.nav-link {
  @apply  rounded-lg  text-lime-50 hover:text-yellow-200 transition-all duration-300 ease-in-out;
}
.mobile-link {
  @apply block p-4   text-gray-600 hover:bg-blue-50 hover:text-yellow-200 rounded;
}

nav {
  transition: all 0.5s ease-in-out;
}



.navbar-menu {
  transition: all 0.3s ease-in-out;
}

.navbar-menu .navbar-backdrop {
  z-index: 49;
}

.navbar-menu nav {
  z-index: 50;
}

.navbar-menu.open {
  display: block;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.active-link {
  color: #F3F4F6; /* Yellow-200 */
  transform: scale(1.05);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.active-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #F3F4F6;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

a:hover::after {
  transform: scaleX(1);
}

@keyframes underlineAnimation {
  0% {
    width: 0%;
    left: 50%;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0%;
    left: 50%;
  }
}

.animated-underline::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #ffff;
  animation: underlineAnimation 2s infinite ease-in-out;
}
.animated-underline-mobile::after{
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  width: 0%;
  height: 2px;
  background-color: #000000;
  animation: underlineAnimation 2s infinite ease-in-out;
}
.active-link-mobile {
  color:#FACC15; /* Yellow-200 */
  transform: scale(1.05);
  position: relative;
  transition: all 0.3s ease-in-out;
}

.active-link-mobile::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #89898a;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

